{% extends 'base.html.twig' %}

{% block body %}
    <h1>Playerstat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ playerStat.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ playerStat.label }}</td>
            </tr>
            <tr>
                <th>Shortlabel</th>
                <td>{{ playerStat.shortLabel }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ playerStat.value }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('playerstat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('playerstat_edit', { 'id': playerStat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
