{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contrats list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Salaire</th>
                <th>Description</th>
                <th>Value</th>
                <th>Date_start</th>
                <th>Duration</th>
                <th>On_going</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td><a href="{{ path('contrat_show', { 'id': contrat.id }) }}">{{ contrat.id }}</a></td>
                <td>{{ contrat.salaire }}</td>
                <td>{{ contrat.description }}</td>
                <td>{{ contrat.value }}</td>
                <td>{% if contrat.datestart %}{{ contrat.datestart|date('Y-m-d') }}{% endif %}</td>
                <td>{{ contrat.duration }}</td>
                <td>{% if contrat.ongoing %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contrat_show', { 'id': contrat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contrat_edit', { 'id': contrat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contrat_new') }}">Create a new contrat</a>
        </li>
    </ul>
{% endblock %}
